   <!-- ======= Portfolio Section ======= -->
   <section id="portfolio" class="portfolio sections-bg">  
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Portfolio</h2>
        <p>Explore our diverse portfolio featuring innovative solutions tailored for modern businesses. From efficient logistics with Track and Trace to comprehensive healthcare management with Hospital Management System, each product is designed to exceed expectations. Boost your online presence with the Review Booster App and streamline orders seamlessly with our Order Collection App. Discover the future of business solutions with us.</p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        </div>

        <div class="row gy-4 portfolio-container">

          <!-- Product: Track and Trace -->
          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="{{baseUrl}}/track-and-trace" data-gallery="portfolio-gallery-app" class="glightbox">
                <img src="{{baseUrl}}/track_and_trace_icon.png" class="img-fluid" alt="Track and Trace">
              </a>
              <div class="portfolio-info">
                <h4><a href="{{baseUrl}}/track-and-trace" title="More Details">Track and Trace</a></h4>
                <p>Real-time tracking for efficient logistics.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        
          <!-- Product: Order Tracking Solution -->
          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="{{baseUrl}}/order-tracking-solution" data-gallery="portfolio-gallery-app" class="glightbox">
                <img src="{{baseUrl}}/order_tracking_icon.png" class="img-fluid" alt="Order Tracking Solution">
              </a>
              <div class="portfolio-info">
                <h4><a href="{{baseUrl}}/order-tracking-solution" title="More Details">Order Tracking Solution</a></h4>
                <p>Track your orders seamlessly from start to finish.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        
          <!-- Product: QR Code Document App -->
          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="{{baseUrl}}/qr-code-document-app" data-gallery="portfolio-gallery-app" class="glightbox">
                <img src="{{baseUrl}}/qr_code_document_icon.png" class="img-fluid" alt="QR Code Document App">
              </a>
              <div class="portfolio-info">
                <h4><a href="{{baseUrl}}/qr-code-document-app" title="More Details">QR Code Document App</a></h4>
                <p>Effortlessly manage and organize documents with QR codes.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        
          <!-- Product: Hospital Management System -->
          <div class="col-xl-4 col-md-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <a href="{{baseUrl}}/hospital-management-system" data-gallery="portfolio-gallery-product" class="glightbox">
                <img src="{{baseUrl}}/hospital_management_icon.png" class="img-fluid" alt="Hospital Management System">
              </a>
              <div class="portfolio-info">
                <h4><a href="{{baseUrl}}/hospital-management-system" title="More Details">Hospital Management System</a></h4>
                <p>Comprehensive solution for efficient healthcare management.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        
          <!-- Product: Review Booster App -->
          <div class="col-xl-4 col-md-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <a href="{{baseUrl}}/review-booster-app" data-gallery="portfolio-gallery-product" class="glightbox">
                <img src="{{baseUrl}}/review_booster_icon.png" class="img-fluid" alt="Review Booster App">
              </a>
              <div class="portfolio-info">
                <h4><a href="{{baseUrl}}/review-booster-app" title="More Details">Review Booster App</a></h4>
                <p>Boost your online presence with positive reviews.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        
          <!-- Product: Order Collection App -->
          <div class="col-xl-4 col-md-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <a href="{{baseUrl}}/order-collection-app" data-gallery="portfolio-gallery-product" class="glightbox">
                <img src="{{baseUrl}}/order_collection_icon.png" class="img-fluid" alt="Order Collection App">
              </a>
              <div class="portfolio-info">
                <h4><a href="{{baseUrl}}/order-collection-app" title="More Details">Order Collection App</a></h4>
                <p>Streamline order collection processes with ease.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        
        </div><!-- End Portfolio Container -->
        


        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section><!-- End Portfolio Section -->
