
{% load static  %}
{% static "img/portfolio" as baseUrl%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Impact Bootstrap Template - Index</title>
  <meta content="" name="description">
  
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png'%}" rel="icon">
  <link href="{% static 'static/img/apple-touch-icon.png" rel="apple-touch-icon'%}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com"  crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com'">info@effiqglobal.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 9495 0972 75</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/profile.php?id=61555240749374" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/effiq_global/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/effiq-global-software-solutions/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <!-- <h1>Effiq Global<span>.</span></h1> -->
        <img style="min-height: 5rem;" src="{% static 'img/logo/logo.png' %}" alt="">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href='#hero'>Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>EffiQ Global</span></h2>
          <p> Welcome to innovation and excellence! Where every line of code tells a story of possibilities at Effiq, your partner in cutting-edge software solutions.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{% static 'img/hero-img.svg' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-tools"></i></div>
              <h4 class="title"><a class="stretched-link">Custom Software Development</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gear"></i></div>
              <h4 class="title"><a class="stretched-link">Business Automation Softwares</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-globe"></i></div>
              <h4 class="title"><a class="stretched-link">Web and Mobile App Development</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a class="stretched-link">Enterprise Resource Planning (ERP) Solutions</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Founded in 2019, EffiQ Global has emerged as a leader in providing cutting- edge software solutions in Manufacturing, Retail, Clinic Management, ERP ,CRM and algo-trading sectors..</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Tailored Solutions for Every Need</h3>
            <img src="{% static 'img/about3.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
            <p>
              In the ever-changing world of business, one size doesn't fit all. Our tailored business software solutions are designed to fit your unique needs like a glove. Whether you're in need of a streamlined ERP system or a custom CRM solution, we work closely with you to craft software that aligns perfectly with your goals.            </p>
            <p>
              Our personalized approach goes beyond meeting expectations – we're here to exceed them. We create software solutions that boost your efficiency, elevate productivity, and set the stage for sustainable growth. No more struggling with off-the-shelf solutions; our custom software is built just for you, ensuring it evolves seamlessly with your business.
            </p>
            <p>
              In a fast-paced tech landscape, adaptability is key. Our tailored solutions not only tackle current challenges but are future-ready. By harnessing the latest tech trends, we ensure your software is not just effective today, but also ready to grow with your business. Partner with us for software that simplifies complexity and propels your business forward with confidence.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Effiq Global Software Solutions stands as a beacon of innovation, specializing in a diverse range of cutting-edge services. Our expertise spans:
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Custom software - Tailored solutions designed to meet the unique needs of your business</li>
                <li><i class="bi bi-check-circle-fill"></i> Mobile apps - Precision - crafted applications that captivate and engage users.</li>
                <li><i class="bi bi-check-circle-fill"></i> ERP Solutions - Robust enterprise resource planning for streamlined and efficient process.</li>
              </ul>
              <p>
                And more. At Effiq Global, we go beyond conventional software services. We sculpt seamless experiences, empowering businesses to thrive in the dynamic digital landscape. Explore the Effiq Global difference – where innovation meets excellence.
              </p>
        
              <div class="position-relative mt-4">
                <img src="{% static 'img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

<div class="clients-slider swiper">
  <div class="swiper-wrapper align-items-center">
    <div class="swiper-slide"><img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
    <div class="swiper-slide"><img src="{% static 'img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
  </div>
</div>

          


      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>As your trusted partner in comprehensive business automation and software solutions. We specialize in crafting cutting-edge tools tailored to meet your unique business needs, empowering you to streamline operations, boost efficiency, and unlock unparalleled growth. With a commitment to innovation and excellence, we pave the way for your success in the digital landscape.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-tools"></i>
              </div>
              <h3>Custom Software Development</h3>
              <p>Tailored solutions involve creating software applications specifically designed to address the unique needs and challenges of a business, providing a customized approach to problem-solving.</p>
              <a class="readmore stretched-link" ></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>Enterprise Resource Planning (ERP) Solutions</h3>
              <p>Comprehensive software designed to integrate and manage core business processes, such as finance, HR, supply chain, and more, providing a centralized platform for efficient operations.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>Customer Relationship Management (CRM) Solutions</h3>
              <p>Implementing systems to manage customer interactions, track leads, and analyze data to enhance customer relationships, improve sales, and optimize marketing efforts.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <h3>Mobile App Development</h3>
              <p>Crafting mobile applications for iOS and Android platforms, ensuring businesses have a strong presence on smartphones and tablets, catering to the growing mobile user base.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Web Development</h3>
              <p> Building and maintaining websites, web applications, and e-commerce platforms. This service focuses on creating a seamless online presence and optimizing user experience.</p>
            </div>
          </div><!-- End Service Item -->


        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Discover what our clients have to say about their experience with our top-notch software development services. Explore testimonials from satisfied customers who have witnessed the excellence, innovation, and reliability we bring to every project. Your success story begins with our dedicated team!</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Jaseem Hussain</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    This was my third time working on a project and I continue to be thrilled with the way this seller worked with me in a professional manner. It is very good to see how precisely the requirements are implemented and how reliably and punctually the work is done.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->




            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Mathew M</h3>
                      <h4>SVP , Irrigon Solutions , Kochi</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Very professional and quick to execute! Very thorough and almost 'sees additional issues' before I did, and just addressed them. VERY pleased! I strongly recommend usingPyDataPro for Google sheets projects!  
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>John Larson</h3>
                      <h4>Director at Dynamic</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    PyDataPro was able to create a script to do our data import exactly as we wanted in a very short time without any revisions necessary. Highly recommended, thanks.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">  
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Portfolio</h2>
          <p>Explore our diverse portfolio featuring innovative solutions tailored for modern businesses. From efficient logistics with Track and Trace to comprehensive healthcare management with Hospital Management System, each product is designed to exceed expectations. Boost your online presence with the Review Booster App and streamline orders seamlessly with our Order Collection App. Discover the future of business solutions with us.</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          </div>

          <div class="row gy-4 portfolio-container">

            <!-- Product: Track and Trace -->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{{baseUrl}}/track-and-trace" data-gallery="portfolio-gallery-app" class="glightbox">
                  <img src="{{baseUrl}}/track_and_trace_icon.png" class="img-fluid" alt="Track and Trace">
                </a>
                <div class="portfolio-info">
                  <h4><a href="{{baseUrl}}/track-and-trace" title="More Details">Track and Trace</a></h4>
                  <p>Real-time tracking for efficient logistics.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          
            <!-- Product: Order Tracking Solution -->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{{baseUrl}}/order-tracking-solution" data-gallery="portfolio-gallery-app" class="glightbox">
                  <img src="{{baseUrl}}/order_tracking_icon.png" class="img-fluid" alt="Order Tracking Solution">
                </a>
                <div class="portfolio-info">
                  <h4><a href="{{baseUrl}}/order-tracking-solution" title="More Details">Order Tracking Solution</a></h4>
                  <p>Track your orders seamlessly from start to finish.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          
            <!-- Product: QR Code Document App -->
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{{baseUrl}}/qr-code-document-app" data-gallery="portfolio-gallery-app" class="glightbox">
                  <img src="{{baseUrl}}/qr_code_document_icon.png" class="img-fluid" alt="QR Code Document App">
                </a>
                <div class="portfolio-info">
                  <h4><a href="{{baseUrl}}/qr-code-document-app" title="More Details">QR Code Document App</a></h4>
                  <p>Effortlessly manage and organize documents with QR codes.</p>
                </div>
              </div>  
            </div><!-- End Portfolio Item -->
          
            <!-- Product: Hospital Management System -->
            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="hospital-management-system" data-gallery="portfolio-gallery-product" class="glightbox">
                  <img src="{{baseUrl}}/hospital_management_icon.png" class="img-fluid" alt="Hospital Management System">
                </a>
                <div class="portfolio-info">
                  <h4><a href="hospital-management-system" title="More Details">Hospital Management System</a></h4>
                  <p>Comprehensive solution for efficient healthcare management.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          
            <!-- Product: Review Booster App -->
            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{{baseUrl}}/review-booster-app" data-gallery="portfolio-gallery-product" class="glightbox">
                  <img src="{{baseUrl}}/review_booster_icon.png" class="img-fluid" alt="Review Booster App">
                </a>
                <div class="portfolio-info">
                  <h4><a href="{{baseUrl}}/review-booster-app" title="More Details">Review Booster App</a></h4>
                  <p>Boost your online presence with positive reviews.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          
            <!-- Product: Order Collection App -->
            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{{baseUrl}}/order-collection-app" data-gallery="portfolio-gallery-product" class="glightbox">
                  <img src="{{baseUrl}}/order_collection_icon.png" class="img-fluid" alt="Order Collection App">
                </a>
                <div class="portfolio-info">
                  <h4><a href="{{baseUrl}}/order-collection-app" title="More Details">Order Collection App</a></h4>
                  <p>Streamline order collection processes with ease.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
          
          </div><!-- End Portfolio Container -->
          


          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>EffiQ's Frequently Asked <strong>Questions</strong></h3>
              <p>
                Explore answers to commonly asked questions about our company and services.
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    What are the services provided by Effiq Global?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Effiq Global offers a comprehensive suite of services, including custom software development, ERP solutions, CRM implementations, and application development services, tailored to meet your unique business needs.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    How can I connect with EffiQ Global?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    You can connect with us through email info@effiqglobal.com and Whatsapp : +91 9495 0972 75
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    What are we specialized in?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We specialize in automation software, custom software development, and application development to streamline processes, enhance efficiency, and create tailored solutions for your unique business requirements.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Where is Effiq Global Located?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    We have our firm roots in India and UAE.
                  </div>
                </div>
              </div><!-- # Faq item-->



            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>For further details or personalized information, feel free to reach out to us by sending a message. Please provide a brief description of your requirements, and our team will be happy to assist you with the information you need.</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Chandrakantham Building,Ezhupunna, Kerala, India</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@effiqglobal.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+91 9495 0972 75</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>EffiQ Global</span>
          </a>
          <p>Empowering Innovations, Elevating Solutions - Effiq Global is your trusted partner for cutting-edge software development, ERP solutions, CRM implementations, and application development services. Let's shape the future of technology together.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://www.facebook.com/profile.php?id=61555240749374" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/effiq_global/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/effiq-global-software-solutions/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Custom Software Development</a></li>
            <li><a href="#">Enterprise Resource Planning (ERP) Solutions</a></li>
            <li><a href="#">Customer Relationship Management (CRM) Solutions</a></li>
            <li><a href="#">Mobile App Development</a></li>
            <li><a href="#">Web Development</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Chandrakantham Building <br>
            Ezhupunna, Kerala<br>
            India <br><br>
            <strong>Phone:</strong> +91 9495 0972 75<br>
            <strong>Email:</strong> info@effiqglobal.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Impact</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Powered by Effiq Global</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>